@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}


  .button {
   position: relative;
  border-radius: 5em;
  border: none;
  mix-blend-mode: color-dodge;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  right: 2em;
  width: 40%;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
   margin-top: -22em;
  justify-content: space-between;
  float: right;
  left: 53em;
  
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  

.heading {
    position: absolute;
    background-color:  #111;
    color: #FFFF;
    z-index: 3;
     font-size: 20px;
     font-weight: 300;
     right: 0;
     width: 100%;
     padding: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     margin-top: -0em;
     font-family: "Poppins",sans-serif;
      
  }
   
  .heading h2{
    position: absolute;
    top: -9em;
    left: -7em;
    width: 100%;
    padding: 40px;
  } 
  
  .heading video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  .text{
    position: relative;
    z-index: 4;
    font-weight: 300;
    top: 1em ;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }
